### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

#looking at student data
#school_data.head()
#student_data.head(-5)
school_data_complete.head()
#school_data_complete.dtypes

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [3]:
#school_data_complete.head()
#finding unique number of schools
#schools is an array with each unique school name
schools = len(school_data_complete["school_name"].unique())
#print (f"Number of schools in system {schools}")

#finding number of students
#need to go on student ID since names repeat.  Using unique to make sure don't have duplicates
students = len(school_data_complete["Student ID"].unique())
#print (f"Number of students in system {students}")

school_data_complete['pass read']=school_data_complete['reading_score'].ge(70)
school_data_complete['pass math']=school_data_complete['math_score'].ge(70)
school_data_complete['pass both']=school_data_complete.loc[:,"pass read"]&school_data_complete.loc[:,"pass math"]

#school_data_complete['math and read'] = (school_data_complete['pass math'] and school_data_complete['pass read'])

#finding total budget
#first create a group on school name
#then from group find unique number of budgets as an array
#convert array into dataframe for easier manipulation
grouped_schools = school_data_complete.groupby(["school_name"])
school_budgets = grouped_schools["budget"].unique()
school_budgets_df = pd.DataFrame({"school_budget": school_budgets})
school_budgets_df = school_budgets_df.copy()#creating copy to save memory (per 06-Ins_group )
school_budgets_df["school_budget"] = school_budgets_df.loc[:,"school_budget"].astype(float) #convert to float
total_budget = school_budgets_df["school_budget"].sum() #sum column of school budget to get total budget
#print(f"Total Budget is {total_budget}")

ave_read_score = round((school_data_complete["reading_score"].mean()),2)
ave_math_score = round((school_data_complete["math_score"].mean()),2)


#print(f"Average math score {ave_math_score}")
#print(f"Average reading score {ave_read_score}")

#number passing math
num_math_pass = 0
#Calculate the percentage of students with a passing math score (70 or greater)
math_pass = school_data_complete["math_score"].ge(70)
for row in math_pass:
    if row == True:
        num_math_pass += 1

per_pass_math = round((num_math_pass/students*100),2)        
#print(f"Percent of students greater than 70 in math {per_pass_math}")

#number passing reading
num_read_pass = 0
#Calculate the percentage of students with a passing math score (70 or greater)
read_pass = school_data_complete["reading_score"].ge(70)
for row in read_pass:
    if row == True:
        num_read_pass += 1
        
per_pass_read = round((num_read_pass/students*100),2)
#print(f"Percent of students greater than 70 in reading {per_pass_read}")

num_read_and_math_pass = 0

for i in range (0,len(read_pass)):
    if read_pass[i] and math_pass[i]:
        num_read_and_math_pass += 1

per_pass_read_math = round((num_read_and_math_pass/students*100),2)

#print(f"Percent of students greater than 70 in reading and math {per_pass_read_math}")

summary_1_df = pd.DataFrame({"Num Schools":[schools],
                            "Num Students":[students],
                            "Total Budget": "$"+str(total_budget),
                            "Ave Math Score": ave_math_score,
                            "Ave Read Score": ave_read_score,
                            "Percent Pass Math": per_pass_math,
                            "Percent Pass Read": per_pass_read,
                            "Percent Pass Read+Math":per_pass_read_math})

print("Overall District Summary")
summary_1_df

Overall District Summary

,Num Schools,Num Students,Total Budget,Ave Math Score,Ave Read Score,Percent Pass Math,Percent Pass Read,Percent Pass Read+Math
0,15,39170,$24649428.0,78.99,81.88,74.98,85.81,65.17

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [4]:
#grouped_schools = school_data_complete.groupby(["school_name"])
#school_budgets_df.head(20)
school_budget = grouped_schools["budget"].unique()
school_budget = school_budget.astype(float)

school_students = grouped_schools["Student ID"].count()

school_pass_math = grouped_schools["pass math"].sum()
school_pass_read = grouped_schools["pass read"].sum()
school_pass_both = grouped_schools["pass both"].sum()

school_type = grouped_schools["type"].unique()

school_mean_math = grouped_schools["math_score"].mean()
school_mean_read = grouped_schools["reading_score"].mean()

#creating dataframe
school_detail = pd.DataFrame(school_budget)
school_detail['students'] = school_students
school_detail['type'] = school_type
school_detail['budg/stud']=school_detail['budget']/school_detail['students']
school_detail['ave math']=round(school_mean_math,2)
school_detail['ave read']=round(school_mean_read,2)
school_detail['% pass math'] = round((school_pass_math/school_students*100),2)
school_detail['% pass read'] = round((school_pass_read/school_students*100),2)
school_detail["% pass both"] = round((school_pass_both/school_students*100),2)

school_detail

,budget,students,type,budg/stud,ave math,ave read,% pass math,% pass read,% pass both
school_name,,,,,,,,,
Bailey High School,3124928.0,4976,[District],628.0,77.05,81.03,66.68,81.93,54.64
Cabrera High School,1081356.0,1858,[Charter],582.0,83.06,83.98,94.13,97.04,91.33
Figueroa High School,1884411.0,2949,[District],639.0,76.71,81.16,65.99,80.74,53.20
Ford High School,1763916.0,2739,[District],644.0,77.10,80.75,68.31,79.30,54.29
Griffin High School,917500.0,1468,[Charter],625.0,83.35,83.82,93.39,97.14,90.60
Hernandez High School,3022020.0,4635,[District],652.0,77.29,80.93,66.75,80.86,53.53
Holden High School,248087.0,427,[Charter],581.0,83.80,83.81,92.51,96.25,89.23
Huang High School,1910635.0,2917,[District],655.0,76.63,81.18,65.68,81.32,53.51
Johnson High School,3094650.0,4761,[District],650.0,77.07,80.97,66.06,81.22,53.54
Pena High School,585858.0,962,[Charter],609.0,83.84,84.04,94.59,95.95,90.54
Rodriguez High School,2547363.0,3999,[District],637.0,76.84,80.74,66.37,80.22,52.99
Shelton High School,1056600.0,1761,[Charter],600.0,83.36,83.73,93.87,95.85,89.89
Thomas High School,1043130.0,1635,[Charter],638.0,83.42,83.85,93.27,97.31,90.95
Wilson High School,1319574.0,2283,[Charter],578.0,83.27,83.99,93.87,96.54,90.58
Wright High School,1049400.0,1800,[Charter],583.0,83.68,83.96,93.33,96.61,90.33

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [7]:
Top_school = school_detail.sort_values(by="% pass both", ascending = False)
Top_five = Top_school.head(5)
print("Top Five Schools by % Passing both Math and Reading")

print("")

print(Top_five.to_string(columns = [ "% pass both"], col_space = 20))

Top Five Schools by % Passing both Math and Reading

                              % pass both
school_name
Cabrera High School                 91.33
Thomas High School                  90.95
Griffin High School                 90.60
Wilson High School                  90.58
Pena High School                    90.54

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [9]:
Bottom_five = Top_school.tail(5)
print("Bottom Five Schools by % Passing both Reading and Math")
print("")
print(Bottom_five.to_string(columns = [ "% pass both"], col_space = 20))

Bottom Five Schools by % Passing both Reading and Math

                               % pass both
school_name
Johnson High School                  53.54
Hernandez High School                53.53
Huang High School                    53.51
Figueroa High School                 53.20
Rodriguez High School                52.99

## Math Scores by Grade

* Create a table that lists the average Math Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [37]:
Math_9th_df = school_data_complete[school_data_complete["grade"] == "9th"]
Math_9th_df = Math_9th_df[["school_name","math_score"]]
Math_9th_group = Math_9th_df.groupby("school_name")
Math_9th=Math_9th_group.mean()
Math_by_Grade = Math_9th.rename(columns = {"math_score":"math_9th"})

Math_10th_df = school_data_complete[school_data_complete["grade"] == "10th"]
Math_10th_df = Math_10th_df[["school_name","math_score"]]
Math_10th_group = Math_10th_df.groupby("school_name")
Math_10th=Math_10th_group.mean()
#Math_10th = Math_10th.rename(columns = {"math_score":"math_10th"})

Math_11th_df = school_data_complete[school_data_complete["grade"] == "11th"]
Math_11th_df = Math_11th_df[["school_name","math_score"]]
Math_11th_group = Math_11th_df.groupby("school_name")
Math_11th=Math_11th_group.mean()

Math_12th_df = school_data_complete[school_data_complete["grade"] == "12th"]
Math_12th_df = Math_12th_df[["school_name","math_score"]]
Math_12th_group = Math_12th_df.groupby("school_name")
Math_12th=Math_12th_group.mean()

Math_by_Grade["math_10th"] = Math_10th
Math_by_Grade["math_11th"] = Math_11th
Math_by_Grade["math_12th"] = Math_12th
Math_by_Grade

                        math_9th  math_10th  math_11th  math_12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [39]:
Read_9th_df = school_data_complete[school_data_complete["grade"] == "9th"]
Read_9th_df = Read_9th_df[["school_name","reading_score"]]
Read_9th_group = Read_9th_df.groupby("school_name")
Read_9th=Read_9th_group.mean()
Read_by_Grade = Read_9th.rename(columns = {"reading_score":"reading_9th"})

Read_10th_df = school_data_complete[school_data_complete["grade"] == "10th"]
Read_10th_df = Read_10th_df[["school_name","reading_score"]]
Read_10th_group = Read_10th_df.groupby("school_name")
Read_10th=Read_10th_group.mean()

Read_11th_df = school_data_complete[school_data_complete["grade"] == "11th"]
Read_11th_df = Read_11th_df[["school_name","reading_score"]]
Read_11th_group = Read_11th_df.groupby("school_name")
Read_11th=Read_11th_group.mean()

Read_12th_df = school_data_complete[school_data_complete["grade"] == "12th"]
Read_12th_df = Read_12th_df[["school_name","reading_score"]]
Read_12th_group = Read_12th_df.groupby("school_name")
Read_12th=Read_12th_group.mean()

Read_by_Grade["reading_10th"] = Read_10th
Read_by_Grade["reading_11th"] = Read_11th
Read_by_Grade["reading_12th"] = Read_12th
Read_by_Grade

                       reading_9th  reading_10th  reading_11th  reading_12th
school_name
Bailey High School       81.303155     80.907183     80.945643     80.912451
Cabrera High School      83.676136     84.253219     83.788382     84.287958
Figueroa High School     81.198598     81.408912     80.640339     81.384863
Ford High School         80.632653     81.262712     80.403642     80.662338
Griffin High School      83.369193     83.706897     84.288089     84.013699
Hernandez High School    80.866860     80.660147     81.396140     80.857143
Holden High School       83.677165     83.324561     83.815534     84.698795
Huang High School        81.290284     81.512386     81.417476     80.305983
Johnson High School      81.260714     80.773431     80.616027     81.227564
Pena High School         83.807273     83.612000     84.335938     84.591160
Rodriguez High School    80.993127     80.629808     80.864811     80.376426
Shelton High School      84.122642     83.441964     84.373786     82.781671
Thomas High School       83.728850     84.254157     83.585542     83.831361
Wilson High School       83.939778     84.021452     83.764608     84.317673
Wright High School       83.833333     83.812757     84.156322     84.073171

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [46]:
school_detail
max_spend_per_student = school_detail["budg/stud"].max()
min_spend_per_student = school_detail["budg/stud"].min()

bin_size = (max_spend_per_student-min_spend_per_student)/4


print(max_spend_per_student)
print(min_spend_per_student)
print(bin_size)

655.0
578.0
19.25

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type