### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [3]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [4]:
#school_data_complete.head()
#finding unique number of schools
#schools is an array with each unique school name
schools = len(school_data_complete["school_name"].unique())

#finding number of students
#need to go on student ID since names repeat.  Using unique to make sure don't have duplicates
students = len(school_data_complete["Student ID"].unique())

school_data_complete['pass read']=school_data_complete['reading_score'].ge(70) #ge in pandas is greater than equal to
school_data_complete['pass math']=school_data_complete['math_score'].ge(70)
school_data_complete['pass both']=school_data_complete.loc[:,"pass read"]&school_data_complete.loc[:,"pass math"]

#finding total budget
#first create a group on school name
#then from group find unique number of budgets as an array
#convert array into dataframe for easier manipulation
grouped_schools = school_data_complete.groupby(["school_name"])
school_budgets = grouped_schools["budget"].unique()
school_budgets_df = pd.DataFrame({"school_budget": school_budgets})
school_budgets_df = school_budgets_df.copy()#creating copy to save memory (per 06-Ins_group )
school_budgets_df["school_budget"] = school_budgets_df.loc[:,"school_budget"].astype(float) #convert to float
total_budget = school_budgets_df["school_budget"].sum() #sum column of school budget to get total budget

ave_read_score = round((school_data_complete["reading_score"].mean()),2)
ave_math_score = round((school_data_complete["math_score"].mean()),2)

#number passing math
num_math_pass = 0
#Calculate the percentage of students with a passing math score (70 or greater)
math_pass = school_data_complete["math_score"].ge(70)
for row in math_pass:
    if row == True:
        num_math_pass += 1

per_pass_math = round((num_math_pass/students*100),2)        

#number passing reading
num_read_pass = 0
#Calculate the percentage of students with a passing math score (70 or greater)
read_pass = school_data_complete["reading_score"].ge(70)
for row in read_pass:
    if row == True:
        num_read_pass += 1
        
per_pass_read = round((num_read_pass/students*100),2)
#print(f"Percent of students greater than 70 in reading {per_pass_read}")

num_read_and_math_pass = 0

for i in range (0,len(read_pass)):
    if read_pass[i] and math_pass[i]:
        num_read_and_math_pass += 1

per_pass_read_math = round((num_read_and_math_pass/students*100),2)

#print(f"Percent of students greater than 70 in reading and math {per_pass_read_math}")

summary_1_df = pd.DataFrame({"Num Schools":[schools],
                            "Num Students":[students],
                            "Total Budget": "$"+str(total_budget),
                            "Ave Math Score": ave_math_score,
                            "Ave Read Score": ave_read_score,
                            "Percent Pass Math": per_pass_math,
                            "Percent Pass Read": per_pass_read,
                            "Percent Pass Read+Math":per_pass_read_math})

print("Overall District Summary")
summary_1_df

Overall District Summary

,Num Schools,Num Students,Total Budget,Ave Math Score,Ave Read Score,Percent Pass Math,Percent Pass Read,Percent Pass Read+Math
0,15,39170,$24649428.0,78.99,81.88,74.98,85.81,65.17

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [5]:
#getting school budgets
school_budget = grouped_schools["budget"].unique()
school_budget = school_budget.astype(float)

school_students = grouped_schools["Student ID"].count()

school_pass_math = grouped_schools["pass math"].sum()
school_pass_read = grouped_schools["pass read"].sum()
school_pass_both = grouped_schools["pass both"].sum()

school_type = grouped_schools["type"].unique()

school_mean_math = grouped_schools["math_score"].mean()
school_mean_read = grouped_schools["reading_score"].mean()

#creating dataframe
school_detail = pd.DataFrame(school_budget)
school_detail['students'] = school_students
school_detail['type'] = school_type
school_detail['budg/stud']=school_detail['budget']/school_detail['students']
school_detail['ave math']=round(school_mean_math,2)
school_detail['ave read']=round(school_mean_read,2)
school_detail['% pass math'] = round((school_pass_math/school_students*100),2)
school_detail['% pass read'] = round((school_pass_read/school_students*100),2)
school_detail["% pass both"] = round((school_pass_both/school_students*100),2)

school_detail

,budget,students,type,budg/stud,ave math,ave read,% pass math,% pass read,% pass both
school_name,,,,,,,,,
Bailey High School,3124928.0,4976,[District],628.0,77.05,81.03,66.68,81.93,54.64
Cabrera High School,1081356.0,1858,[Charter],582.0,83.06,83.98,94.13,97.04,91.33
Figueroa High School,1884411.0,2949,[District],639.0,76.71,81.16,65.99,80.74,53.20
Ford High School,1763916.0,2739,[District],644.0,77.10,80.75,68.31,79.30,54.29
Griffin High School,917500.0,1468,[Charter],625.0,83.35,83.82,93.39,97.14,90.60
Hernandez High School,3022020.0,4635,[District],652.0,77.29,80.93,66.75,80.86,53.53
Holden High School,248087.0,427,[Charter],581.0,83.80,83.81,92.51,96.25,89.23
Huang High School,1910635.0,2917,[District],655.0,76.63,81.18,65.68,81.32,53.51
Johnson High School,3094650.0,4761,[District],650.0,77.07,80.97,66.06,81.22,53.54
Pena High School,585858.0,962,[Charter],609.0,83.84,84.04,94.59,95.95,90.54
Rodriguez High School,2547363.0,3999,[District],637.0,76.84,80.74,66.37,80.22,52.99
Shelton High School,1056600.0,1761,[Charter],600.0,83.36,83.73,93.87,95.85,89.89
Thomas High School,1043130.0,1635,[Charter],638.0,83.42,83.85,93.27,97.31,90.95
Wilson High School,1319574.0,2283,[Charter],578.0,83.27,83.99,93.87,96.54,90.58
Wright High School,1049400.0,1800,[Charter],583.0,83.68,83.96,93.33,96.61,90.33

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [9]:
Top_school = school_detail.sort_values(by="% pass both", ascending = False)
Top_five = Top_school.head(5)
print("Top Five Schools by % Passing both Math and Reading")

print("")

print(Top_five.to_string(columns = ["type","students","budget","budg/stud",
                                    "ave math","ave read","% pass math","% pass read","% pass both"], col_space = 9))

Top Five Schools by % Passing both Math and Reading

                          type  students     budget  budg/stud  ave math  ave read  % pass math  % pass read  % pass both
school_name
Cabrera High School  [Charter]      1858  1081356.0      582.0     83.06     83.98        94.13        97.04        91.33
Thomas High School   [Charter]      1635  1043130.0      638.0     83.42     83.85        93.27        97.31        90.95
Griffin High School  [Charter]      1468   917500.0      625.0     83.35     83.82        93.39        97.14        90.60
Wilson High School   [Charter]      2283  1319574.0      578.0     83.27     83.99        93.87        96.54        90.58
Pena High School     [Charter]       962   585858.0      609.0     83.84     84.04        94.59        95.95        90.54

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [13]:
Bottom_five = Top_school.tail(5)
print("Bottom Five Schools by % Passing both Reading and Math")
print("")
print(Bottom_five.to_string(columns = ["type","students","budget","budg/stud",
                                       "ave math","ave read","% pass math","% pass read","% pass both"], col_space = 9))

Bottom Five Schools by % Passing both Reading and Math

                             type  students     budget  budg/stud  ave math  ave read  % pass math  % pass read  % pass both
school_name
Johnson High School    [District]      4761  3094650.0      650.0     77.07     80.97        66.06        81.22        53.54
Hernandez High School  [District]      4635  3022020.0      652.0     77.29     80.93        66.75        80.86        53.53
Huang High School      [District]      2917  1910635.0      655.0     76.63     81.18        65.68        81.32        53.51
Figueroa High School   [District]      2949  1884411.0      639.0     76.71     81.16        65.99        80.74        53.20
Rodriguez High School  [District]      3999  2547363.0      637.0     76.84     80.74        66.37        80.22        52.99

## Math Scores by Grade

* Create a table that lists the average Math Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [15]:
Math_9th_df = school_data_complete[school_data_complete["grade"] == "9th"]
Math_9th_df = Math_9th_df[["school_name","math_score"]]
Math_9th_group = Math_9th_df.groupby("school_name")
Math_9th=round(Math_9th_group.mean(),2)
Math_by_Grade = Math_9th.rename(columns = {"math_score":"math_9th"})

Math_10th_df = school_data_complete[school_data_complete["grade"] == "10th"]
Math_10th_df = Math_10th_df[["school_name","math_score"]]
Math_10th_group = Math_10th_df.groupby("school_name")
Math_10th=round(Math_10th_group.mean(),2)
#Math_10th = Math_10th.rename(columns = {"math_score":"math_10th"})

Math_11th_df = school_data_complete[school_data_complete["grade"] == "11th"]
Math_11th_df = Math_11th_df[["school_name","math_score"]]
Math_11th_group = Math_11th_df.groupby("school_name")
Math_11th=round(Math_11th_group.mean(),2)

Math_12th_df = school_data_complete[school_data_complete["grade"] == "12th"]
Math_12th_df = Math_12th_df[["school_name","math_score"]]
Math_12th_group = Math_12th_df.groupby("school_name")
Math_12th=round(Math_12th_group.mean(),2)

Math_by_Grade["math_10th"] = Math_10th
Math_by_Grade["math_11th"] = Math_11th
Math_by_Grade["math_12th"] = Math_12th
Math_by_Grade

                       math_9th  math_10th  math_11th  math_12th
school_name
Bailey High School        77.08      77.00      77.52      76.49
Cabrera High School       83.09      83.15      82.77      83.28
Figueroa High School      76.40      76.54      76.88      77.15
Ford High School          77.36      77.67      76.92      76.18
Griffin High School       82.04      84.23      83.84      83.36
Hernandez High School     77.44      77.34      77.14      77.19
Holden High School        83.79      83.43      85.00      82.86
Huang High School         77.03      75.91      76.45      77.23
Johnson High School       77.19      76.69      77.49      76.86
Pena High School          83.63      83.37      84.33      84.12
Rodriguez High School     76.86      76.61      76.40      77.69
Shelton High School       83.42      82.92      83.38      83.78
Thomas High School        83.59      83.09      83.50      83.50
Wilson High School        83.09      83.72      83.20      83.04
Wright High School        83.26      84.01      83.84      83.64

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [17]:
Read_9th_df = school_data_complete[school_data_complete["grade"] == "9th"]
Read_9th_df = Read_9th_df[["school_name","reading_score"]]
Read_9th_group = Read_9th_df.groupby("school_name")
Read_9th=round(Read_9th_group.mean(),2)
Read_by_Grade = Read_9th.rename(columns = {"reading_score":"reading_9th"})

Read_10th_df = school_data_complete[school_data_complete["grade"] == "10th"]
Read_10th_df = Read_10th_df[["school_name","reading_score"]]
Read_10th_group = Read_10th_df.groupby("school_name")
Read_10th=round(Read_10th_group.mean(),2)

Read_11th_df = school_data_complete[school_data_complete["grade"] == "11th"]
Read_11th_df = Read_11th_df[["school_name","reading_score"]]
Read_11th_group = Read_11th_df.groupby("school_name")
Read_11th=round(Read_11th_group.mean(),2)

Read_12th_df = school_data_complete[school_data_complete["grade"] == "12th"]
Read_12th_df = Read_12th_df[["school_name","reading_score"]]
Read_12th_group = Read_12th_df.groupby("school_name")
Read_12th=round(Read_12th_group.mean(),2)

Read_by_Grade["reading_10th"] = Read_10th
Read_by_Grade["reading_11th"] = Read_11th
Read_by_Grade["reading_12th"] = Read_12th
Read_by_Grade

                       reading_9th  reading_10th  reading_11th  reading_12th
school_name
Bailey High School           81.30         80.91         80.95         80.91
Cabrera High School          83.68         84.25         83.79         84.29
Figueroa High School         81.20         81.41         80.64         81.38
Ford High School             80.63         81.26         80.40         80.66
Griffin High School          83.37         83.71         84.29         84.01
Hernandez High School        80.87         80.66         81.40         80.86
Holden High School           83.68         83.32         83.82         84.70
Huang High School            81.29         81.51         81.42         80.31
Johnson High School          81.26         80.77         80.62         81.23
Pena High School             83.81         83.61         84.34         84.59
Rodriguez High School        80.99         80.63         80.86         80.38
Shelton High School          84.12         83.44         84.37         82.78
Thomas High School           83.73         84.25         83.59         83.83
Wilson High School           83.94         84.02         83.76         84.32
Wright High School           83.83         83.81         84.16         84.07

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [47]:
school_detail
max_spend_per_student = school_detail["budg/stud"].max()
min_spend_per_student = school_detail["budg/stud"].min()

bin_size = (max_spend_per_student-min_spend_per_student)/4


bins = [min_spend_per_student, min_spend_per_student+bin_size,
        min_spend_per_student+2*bin_size, min_spend_per_student+3*bin_size, min_spend_per_student+4*bin_size]

#bins
labels = [1,2,3,4]
school_detail['binned'] = pd.cut(school_detail['budg/stud'], bins,labels=labels, include_lowest = True)

print(max_spend_per_student)
print(min_spend_per_student)
print(bins)

bin_1_df = ( school_detail[school_detail["binned"] == 1])
bin_2_df = ( school_detail[school_detail["binned"] == 2])
bin_3_df = ( school_detail[school_detail["binned"] == 3])
bin_4_df = ( school_detail[school_detail["binned"] == 4])

print(bin_1_df.to_string(columns = ["ave math", "ave read", "% pass math", "% pass read", "% pass both"], col_space = 9))
print(bin_2_df.to_string(columns = ["ave math", "ave read", "% pass math", "% pass read", "% pass both"], col_space = 9))
print(bin_3_df.to_string(columns = ["ave math", "ave read", "% pass math", "% pass read", "% pass both"], col_space = 9))
print(bin_4_df.to_string(columns = ["ave math", "ave read", "% pass math", "% pass read", "% pass both"], col_space = 9))

#school_detail

655.0
578.0
[578.0, 597.25, 616.5, 635.75, 655.0]
                     ave math  ave read  % pass math  % pass read  % pass both
school_name
Cabrera High School     83.06     83.98        94.13        97.04        91.33
Holden High School      83.80     83.81        92.51        96.25        89.23
Wilson High School      83.27     83.99        93.87        96.54        90.58
Wright High School      83.68     83.96        93.33        96.61        90.33
                     ave math  ave read  % pass math  % pass read  % pass both
school_name
Pena High School        83.84     84.04        94.59        95.95        90.54
Shelton High School     83.36     83.73        93.87        95.85        89.89
                     ave math  ave read  % pass math  % pass read  % pass both
school_name
Bailey High School      77.05     81.03        66.68        81.93        54.64
Griffin High School     83.35     83.82        93.39        97.14        90.60
                       ave math  ave read  % pass math  % pass read  % pass both
school_name
Figueroa High School      76.71     81.16        65.99        80.74        53.20
Ford High School          77.10     80.75        68.31        79.30        54.29
Hernandez High School     77.29     80.93        66.75        80.86        53.53
Huang High School         76.63     81.18        65.68        81.32        53.51
Johnson High School       77.07     80.97        66.06        81.22        53.54
Rodriguez High School     76.84     80.74        66.37        80.22        52.99
Thomas High School        83.42     83.85        93.27        97.31        90.95

## Scores by School Size

* Perform the same operations as above, based on school size.

In [59]:
#del school_detail["binned"]

max_student = school_detail["students"].max()
min_student = school_detail["students"].min()

bin_size = (max_student-min_student)/3

bins = [min_student+bin_size*i for i in range(0,4)]

labels = [1,2,3]
school_detail['binned'] = pd.cut(school_detail['students'], bins,labels=labels, include_lowest = True)

bin_1_df = ( school_detail[school_detail["binned"] == 1])
bin_2_df = ( school_detail[school_detail["binned"] == 2])
bin_3_df = ( school_detail[school_detail["binned"] == 3])

print(bin_1_df.to_string(columns = ["ave math", "ave read", "% pass math", "% pass read", "% pass both"], col_space = 9))
print(bin_2_df.to_string(columns = ["ave math", "ave read", "% pass math", "% pass read", "% pass both"], col_space = 9))
print(bin_3_df.to_string(columns = ["ave math", "ave read", "% pass math", "% pass read", "% pass both"], col_space = 9))

                     ave math  ave read  % pass math  % pass read  % pass both
school_name
Cabrera High School     83.06     83.98        94.13        97.04        91.33
Griffin High School     83.35     83.82        93.39        97.14        90.60
Holden High School      83.80     83.81        92.51        96.25        89.23
Pena High School        83.84     84.04        94.59        95.95        90.54
Shelton High School     83.36     83.73        93.87        95.85        89.89
Thomas High School      83.42     83.85        93.27        97.31        90.95
Wright High School      83.68     83.96        93.33        96.61        90.33
                      ave math  ave read  % pass math  % pass read  % pass both
school_name
Figueroa High School     76.71     81.16        65.99        80.74        53.20
Ford High School         77.10     80.75        68.31        79.30        54.29
Huang High School        76.63     81.18        65.68        81.32        53.51
Wilson High School       83.27     83.99        93.87        96.54        90.58
                       ave math  ave read  % pass math  % pass read  % pass both
school_name
Bailey High School        77.05     81.03        66.68        81.93        54.64
Hernandez High School     77.29     80.93        66.75        80.86        53.53
Johnson High School       77.07     80.97        66.06        81.22        53.54
Rodriguez High School     76.84     80.74        66.37        80.22        52.99

## Scores by School Type

* Perform the same operations as above, based on school type

In [62]:
bin_1_df = ( school_detail[school_detail["type"] == "District"])
bin_2_df = ( school_detail[school_detail["type"] == "Charter"])

print("District")
print(bin_1_df.to_string(columns = ["ave math", "ave read", "% pass math", "% pass read", "% pass both"], col_space = 9))
print("")
print("Charter")
print(bin_2_df.to_string(columns = ["ave math", "ave read", "% pass math", "% pass read", "% pass both"], col_space = 9))

District
                       ave math  ave read  % pass math  % pass read  % pass both
school_name
Bailey High School        77.05     81.03        66.68        81.93        54.64
Figueroa High School      76.71     81.16        65.99        80.74        53.20
Ford High School          77.10     80.75        68.31        79.30        54.29
Hernandez High School     77.29     80.93        66.75        80.86        53.53
Huang High School         76.63     81.18        65.68        81.32        53.51
Johnson High School       77.07     80.97        66.06        81.22        53.54
Rodriguez High School     76.84     80.74        66.37        80.22        52.99

Charter
                     ave math  ave read  % pass math  % pass read  % pass both
school_name
Cabrera High School     83.06     83.98        94.13        97.04        91.33
Griffin High School     83.35     83.82        93.39        97.14        90.60
Holden High School      83.80     83.81        92.51        96.25        89.23
Pena High School        83.84     84.04        94.59        95.95        90.54
Shelton High School     83.36     83.73        93.87        95.85        89.89
Thomas High School      83.42     83.85        93.27        97.31        90.95
Wilson High School      83.27     83.99        93.87        96.54        90.58
Wright High School      83.68     83.96        93.33        96.61        90.33