### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [79]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

#looking at student data
#school_data.head()
#student_data.head(-5)
school_data_complete.head()
#school_data_complete.dtypes

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [109]:
#school_data_complete.head()
#finding unique number of schools
#schools is an array with each unique school name
schools = len(school_data_complete["school_name"].unique())
#print (f"Number of schools in system {schools}")

#finding number of students
#need to go on student ID since names repeat.  Using unique to make sure don't have duplicates
students = len(school_data_complete["Student ID"].unique())
#print (f"Number of students in system {students}")

#finding total budget
#first create a group on school name
#then from group find unique number of budgets as an array
#convert array into dataframe for easier manipulation
grouped_schools = school_data_complete.groupby(["school_name"])
school_budgets = grouped_schools["budget"].unique()
school_budgets_df = pd.DataFrame({"school_budget": school_budgets})
school_budgets_df = school_budgets_df.copy()#creating copy to save memory (per 06-Ins_group )
school_budgets_df["school_budget"] = school_budgets_df.loc[:,"school_budget"].astype(float) #convert to float
total_budget = school_budgets_df["school_budget"].sum() #sum column of school budget to get total budget
#print(f"Total Budget is {total_budget}")

ave_math_score = round((school_data_complete["math_score"].mean()),2)
ave_read_score = round((school_data_complete["reading_score"].mean()),2)

#print(f"Average math score {ave_math_score}")
#print(f"Average reading score {ave_read_score}")

#number passing math
num_math_pass = 0
#Calculate the percentage of students with a passing math score (70 or greater)
math_pass = school_data_complete["math_score"].ge(70)
for row in math_pass:
    if row == True:
        num_math_pass += 1

per_pass_math = round((num_math_pass/students*100),2)        
#print(f"Percent of students greater than 70 in math {per_pass_math}")

#number passing reading
num_read_pass = 0
#Calculate the percentage of students with a passing math score (70 or greater)
read_pass = school_data_complete["reading_score"].ge(70)
for row in read_pass:
    if row == True:
        num_read_pass += 1
        
per_pass_read = round((num_read_pass/students*100),2)
#print(f"Percent of students greater than 70 in reading {per_pass_read}")

num_read_and_math_pass = 0

for i in range (0,len(read_pass)):
    if read_pass[i] and math_pass[i]:
        num_read_and_math_pass += 1

per_pass_read_math = round((num_read_and_math_pass/students*100),2)

#print(f"Percent of students greater than 70 in reading and math {per_pass_read_math}")

summary_1_df = pd.DataFrame({"Num Schools":[schools],
                            "Num Students":[students],
                            "Total Budget": "$"+str(total_budget),
                            "Ave Math Score": ave_math_score,
                            "Ave Read Score": ave_read_score,
                            "Percent Pass Math": per_pass_math,
                            "Percent Pass Read": per_pass_read,
                            "Percent Pass Read+Math":per_pass_read_math})

print("Overall District Summary")
summary_1_df

Overall District Summary

,Num Schools,Num Students,Total Budget,Ave Math Score,Ave Read Score,Percent Pass Math,Percent Pass Read,Percent Pass Read+Math
0,15,39170,$24649428.0,78.99,81.88,74.98,85.81,65.17

In [44]:
#school_data_complete.count()

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type